fastapi
uvicorn
python-multipart
numpy
opencv-python-headless
pillow

onnxruntime
scikit-image
scipy
pydantic
cryptography
streamlit
pytest
requests
httpx
python-jose[cryptography]
passlib[bcrypt]
faiss-cpu
supabase
insightface

